fastapi # backend
uvicorn
pandas # to load in and clean csv files
matplotlib # to make graphs
python-multipart
nltk # new for trends.js
scikit-learn # new for trends.js

# pip install -r requirements.txt 
# for when you need to setup backend
